<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Order Detail</h1>
Id : <h3 th:text="${orderDetail.id}"></h3>
User Email: <h3 th:text="${orderDetail.payment_source.paypal.email_address}"></h3>
금액 : <h3 th:text="${orderDetail.purchase_units[0].amount.value}"></h3>
단위 : <h3 th:text="${orderDetail.purchase_units[0].amount.currency_code}"></h3>
생성날짜 : <h3 th:text="${orderDetail.purchase_units[0].payments.captures[0].create_time}"></h3>

</body>
<script>
</script>
</html>