<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Order Detail</h1>
Id : <h3 th:text="${orderDetail.id}"></h3>
User Email: <h3 th:text="${orderDetail.payment_source.paypal.email_address}"></h3>
<!--email address : <h3 th:text="${orderDetail.payment_source}"></h3>-->
<!--Status : <h3 th:text="${orderDetail.status}"></h3>-->
<!--amount : <h3 th:text="${orderDetail.amount.value}"></h3><span th:text="${orderDetail.amount.currency_code}"></span>-->
<!--description : <h3 th:text="${orderDetail.description}"></h3>-->
<!--paypal fee : <h3 th:text="${orderDetail.paypal_fee.value}"></h3><span th:text="${orderDetail.paypal_fee.currency_code}"></span>-->
</body>
<script>
</script>
</html>